/*ничего необычного. куски материалайз кода*/
[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
    border: 2px solid #42a5f5;
}

[type="radio"].with-gap:checked + span:after{
/*    border: 2px solid #42a5f5;*/
    background-color: #42a5f5;
}
blockquote {
    margin: 20px 0;
    padding-left: 1.5rem;
    border-left: 5px solid #42a5f5;
}
input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #42a5f5;   
}
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #42a5f5;
  -webkit-box-shadow: 0 1px 0 0 #42a5f5;
          box-shadow: 0 1px 0 0 #42a5f5;
}
.progress .determinate{
    background-color: #42a5f5;
}
.tabs .tab a:hover, .tabs .tab a.active {
    background-color: transparent;
    color: #1976d2;
}
.tabs .tab a {
    color: rgba(25,118,210,0.71);
    
}
.tabs .indicator {
    background-color: #1976d2;
}
.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: rgba(178,206,246,0.20); 
    outline: none;
}
.hidden{
    display: none;
}
.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #42a5f5;
}
.dropdown-content li>a, .dropdown-content li>span {
    color: #42a5f5;
}

.pagination li.active {
    background-color: #42a5f5;
}