$mr-v: 10px;
$color: #bdbdbd;

@mixin padding($p){
    padding: $p;
}

.version 
{
    color: $color;
    margin-right: $mr-v;
}

.changelog
{
   .version
    {
        color: #0F0F0F;
        font-size: 30px;
    }
    
    .fix-version
    {
        ul
        {
            list-style: circle;
            padding-left: 20px;
        }
    }
    
    .is-alpha
    {
        color: #FF4649;
//        @extend .version;
    }
    
    border: #C6ECFF solid 1px;
    border-radius: 20px;
    @include padding($mr-v);
            
}

.download-button
{
    margin-top: 1%;
}