Options All -Indexes
<FilesMatch ".(log)$">
 Order Allow,Deny
 Deny from all
</FilesMatch>

RewriteEngine On
Options +FollowSymlinks
RewriteCond   %{REQUEST_FILENAME} !-d
RewriteCond   %{REQUEST_FILENAME} !-f

RewriteRule ^test/$ index.php?page=test.php [QSA,L]
RewriteRule ^download-app/$ index.php?page=download.php [QSA,L]
RewriteRule ^professions/([a-z]*)?/?([0-9]*)?$ index.php?page=professions.php&act=$1&id=$2 [L]
RewriteRule ^news/([0-9]+)/([A-Za-z0-9\+-_]+)/$ index.php?page=view_content.php&id=$1&name=$2 [L]
RewriteRule ^admin/$ admin/login.php [QSA]
RewriteRule ^news-list/([0-9]*)?$ index.php?page=news.php&p=$1 [L]


ErrorDocument 403 /errors/403.html
ErrorDocument 404 /errors/404.html
