@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?cel91s');
  src:  url('fonts/icomoon.eot?cel91s#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?cel91s') format('truetype'),
    url('fonts/icomoon.woff?cel91s') format('woff'),
    url('fonts/icomoon.svg?cel91s#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic_check_box_48px:before {
  content: "\e900";
}
.icon-ic_check_box_outline_blank_48px:before {
  content: "\e901";
}
.icon-ic_radio_button_checked_48px:before {
  content: "\e902";
}
.icon-ic_radio_button_unchecked_48px:before {
  content: "\e903";
}
.icon-ic_star_half_48px:before {
  content: "\e904";
}
.icon-ic_cake_48px:before {
  content: "\e905";
}
.icon-ic_domain_48px:before {
  content: "\e906";
}
.icon-ic_group_48px:before {
  content: "\e907";
}
.icon-ic_group_add_48px:before {
  content: "\e908";
}
.icon-ic_location_city_48px:before {
  content: "\e909";
}
.icon-ic_mood_48px:before {
  content: "\e90a";
}
.icon-ic_mood_bad_48px:before {
  content: "\e90b";
}
.icon-ic_notifications_48px:before {
  content: "\e90c";
}
.icon-ic_notifications_active_48px:before {
  content: "\e90d";
}
.icon-ic_notifications_none_48px:before {
  content: "\e90e";
}
.icon-ic_notifications_off_48px:before {
  content: "\e90f";
}
.icon-ic_notifications_paused_48px:before {
  content: "\e910";
}
.icon-ic_pages_48px:before {
  content: "\e911";
}
.icon-ic_party_mode_48px:before {
  content: "\e912";
}
.icon-ic_people_48px:before {
  content: "\e913";
}
.icon-ic_people_outline_48px:before {
  content: "\e914";
}
.icon-ic_person_48px:before {
  content: "\e915";
}
.icon-ic_person_add_48px:before {
  content: "\e916";
}
.icon-ic_person_outline_48px:before {
  content: "\e917";
}
.icon-ic_plus_one_48px:before {
  content: "\e918";
}
.icon-ic_poll_48px:before {
  content: "\e919";
}
.icon-ic_public_48px:before {
  content: "\e91a";
}
.icon-ic_school_48px:before {
  content: "\e91b";
}
.icon-ic_sentiment_dissatisfied_48px:before {
  content: "\e91c";
}
.icon-ic_sentiment_neutral_48px:before {
  content: "\e91d";
}
.icon-ic_sentiment_satisfied_48px:before {
  content: "\e91e";
}
.icon-ic_sentiment_very_dissatisfied_48px:before {
  content: "\e91f";
}
.icon-ic_sentiment_very_satisfied_48px:before {
  content: "\e920";
}
.icon-ic_share_48px:before {
  content: "\e921";
}
.icon-ic_whatshot_48px:before {
  content: "\e922";
}
.icon-ic_ac_unit_48px:before {
  content: "\e923";
}
.icon-ic_airport_shuttle_48px:before {
  content: "\e924";
}
.icon-ic_all_inclusive_48px:before {
  content: "\e925";
}
.icon-ic_beach_access_48px:before {
  content: "\e926";
}
.icon-ic_business_center_48px:before {
  content: "\e927";
}
.icon-ic_casino_48px:before {
  content: "\e928";
}
.icon-ic_child_care_48px:before {
  content: "\e929";
}
.icon-ic_child_friendly_48px:before {
  content: "\e92a";
}
.icon-ic_fitness_center_48px:before {
  content: "\e92b";
}
.icon-ic_free_breakfast_48px:before {
  content: "\e92c";
}
.icon-ic_golf_course_48px:before {
  content: "\e92d";
}
.icon-ic_hot_tub_48px:before {
  content: "\e92e";
}
.icon-ic_kitchen_48px:before {
  content: "\e92f";
}
.icon-ic_pool_48px:before {
  content: "\e930";
}
.icon-ic_room_service_48px:before {
  content: "\e931";
}
.icon-ic_rv_hookup_48px:before {
  content: "\e932";
}
.icon-ic_smoke_free_48px:before {
  content: "\e933";
}
.icon-ic_smoking_rooms_48px:before {
  content: "\e934";
}
.icon-ic_spa_48px .path1:before {
  content: "\e935";
  color: rgb(0, 0, 0);
}
.icon-ic_spa_48px .path2:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ic_adb_48px:before {
  content: "\e937";
}
.icon-ic_airline_seat_flat_48px:before {
  content: "\e938";
}
.icon-ic_airline_seat_flat_angled_48px:before {
  content: "\e939";
}
.icon-ic_airline_seat_individual_suite_48px:before {
  content: "\e93a";
}
.icon-ic_airline_seat_legroom_extra_48px:before {
  content: "\e93b";
}
.icon-ic_airline_seat_legroom_normal_48px:before {
  content: "\e93c";
}
.icon-ic_airline_seat_legroom_reduced_48px:before {
  content: "\e93d";
}
.icon-ic_airline_seat_recline_extra_48px:before {
  content: "\e93e";
}
.icon-ic_airline_seat_recline_normal_48px:before {
  content: "\e93f";
}
.icon-ic_bluetooth_audio_48px:before {
  content: "\e940";
}
.icon-ic_confirmation_number_48px:before {
  content: "\e941";
}
.icon-ic_disc_full_48px:before {
  content: "\e942";
}
.icon-ic_do_not_disturb_48px:before {
  content: "\e943";
}
.icon-ic_do_not_disturb_alt_48px:before {
  content: "\e944";
}
.icon-ic_do_not_disturb_off_48px:before {
  content: "\e945";
}
.icon-ic_do_not_disturb_on_48px:before {
  content: "\e946";
}
.icon-ic_drive_eta_48px:before {
  content: "\e947";
}
.icon-ic_enhanced_encryption_48px:before {
  content: "\e948";
}
.icon-ic_event_available_48px:before {
  content: "\e949";
}
.icon-ic_event_busy_48px:before {
  content: "\e94a";
}
.icon-ic_event_note_48px:before {
  content: "\e94b";
}
.icon-ic_folder_special_48px:before {
  content: "\e94c";
}
.icon-ic_live_tv_48px:before {
  content: "\e94d";
}
.icon-ic_mms_48px:before {
  content: "\e94e";
}
.icon-ic_more_48px:before {
  content: "\e94f";
}
.icon-ic_network_check_48px:before {
  content: "\e950";
}
.icon-ic_network_locked_48px:before {
  content: "\e951";
}
.icon-ic_no_encryption_48px:before {
  content: "\e952";
}
.icon-ic_ondemand_video_48px:before {
  content: "\e953";
}
.icon-ic_personal_video_48px:before {
  content: "\e954";
}
.icon-ic_phone_bluetooth_speaker_48px:before {
  content: "\e955";
}
.icon-ic_phone_forwarded_48px:before {
  content: "\e956";
}
.icon-ic_phone_in_talk_48px:before {
  content: "\e957";
}
.icon-ic_phone_locked_48px:before {
  content: "\e958";
}
.icon-ic_phone_missed_48px:before {
  content: "\e959";
}
.icon-ic_phone_paused_48px:before {
  content: "\e95a";
}
.icon-ic_power_48px:before {
  content: "\e95b";
}
.icon-ic_priority_high_48px:before {
  content: "\e95c";
}
.icon-ic_rv_hookup_48px1:before {
  content: "\e95d";
}
.icon-ic_sd_card_48px:before {
  content: "\e95e";
}
.icon-ic_sim_card_alert_48px:before {
  content: "\e95f";
}
.icon-ic_sms_48px:before {
  content: "\e960";
}
.icon-ic_sms_failed_48px:before {
  content: "\e961";
}
.icon-ic_sync_48px:before {
  content: "\e962";
}
.icon-ic_sync_disabled_48px:before {
  content: "\e963";
}
.icon-ic_sync_problem_48px:before {
  content: "\e964";
}
.icon-ic_system_update_48px:before {
  content: "\e965";
}
.icon-ic_tap_and_play_48px:before {
  content: "\e966";
}
.icon-ic_time_to_leave_48px:before {
  content: "\e967";
}
.icon-ic_vibration_48px:before {
  content: "\e968";
}
.icon-ic_voice_chat_48px:before {
  content: "\e969";
}
.icon-ic_vpn_lock_48px:before {
  content: "\e96a";
}
.icon-ic_wc_48px:before {
  content: "\e96b";
}
.icon-ic_wifi_48px:before {
  content: "\e96c";
}
.icon-ic_apps_48px:before {
  content: "\e96d";
}
.icon-ic_arrow_back_48px:before {
  content: "\e96e";
}
.icon-ic_arrow_downward_48px:before {
  content: "\e96f";
}
.icon-ic_arrow_drop_down_48px:before {
  content: "\e970";
}
.icon-ic_arrow_drop_down_circle_48px:before {
  content: "\e971";
}
.icon-ic_arrow_drop_up_48px:before {
  content: "\e972";
}
.icon-ic_arrow_forward_48px:before {
  content: "\e973";
}
.icon-ic_arrow_upward_48px:before {
  content: "\e974";
}
.icon-ic_cancel_48px:before {
  content: "\e975";
}
.icon-ic_check_48px:before {
  content: "\e976";
}
.icon-ic_chevron_left_48px:before {
  content: "\e977";
}
.icon-ic_chevron_right_48px:before {
  content: "\e978";
}
.icon-ic_close_48px:before {
  content: "\e979";
}
.icon-ic_expand_less_48px:before {
  content: "\e97a";
}
.icon-ic_expand_more_48px:before {
  content: "\e97b";
}
.icon-ic_first_page_48px:before {
  content: "\e97c";
}
.icon-ic_fullscreen_48px:before {
  content: "\e97d";
}
.icon-ic_fullscreen_exit_48px:before {
  content: "\e97e";
}
.icon-ic_last_page_48px:before {
  content: "\e97f";
}
.icon-ic_menu_48px:before {
  content: "\e980";
}
.icon-ic_more_horiz_48px:before {
  content: "\e981";
}
.icon-ic_more_vert_48px:before {
  content: "\e982";
}
.icon-ic_refresh_48px:before {
  content: "\e983";
}
.icon-ic_subdirectory_arrow_left_48px:before {
  content: "\e984";
}
.icon-ic_subdirectory_arrow_right_48px:before {
  content: "\e985";
}
.icon-ic_unfold_less_48px:before {
  content: "\e986";
}
.icon-ic_unfold_more_48px:before {
  content: "\e987";
}
.icon-ic_add_location_48px:before {
  content: "\e988";
}
.icon-ic_beenhere_48px:before {
  content: "\e989";
}
.icon-ic_directions_48px:before {
  content: "\e98a";
}
.icon-ic_directions_bike_48px:before {
  content: "\e98b";
}
.icon-ic_directions_boat_48px:before {
  content: "\e98c";
}
.icon-ic_directions_bus_48px:before {
  content: "\e98d";
}
.icon-ic_directions_car_48px:before {
  content: "\e98e";
}
.icon-ic_directions_railway_48px:before {
  content: "\e98f";
}
.icon-ic_directions_run_48px:before {
  content: "\e990";
}
.icon-ic_directions_subway_48px:before {
  content: "\e991";
}
.icon-ic_directions_transit_48px:before {
  content: "\e992";
}
.icon-ic_directions_walk_48px:before {
  content: "\e993";
}
.icon-ic_edit_location_48px:before {
  content: "\e994";
}
.icon-ic_ev_station_48px:before {
  content: "\e995";
}
.icon-ic_flight_48px:before {
  content: "\e996";
}
.icon-ic_hotel_48px:before {
  content: "\e997";
}
.icon-ic_layers_48px:before {
  content: "\e998";
}
.icon-ic_layers_clear_48px:before {
  content: "\e999";
}
.icon-ic_local_activity_48px:before {
  content: "\e99a";
}
.icon-ic_local_airport_48px:before {
  content: "\e99b";
}
.icon-ic_local_atm_48px:before {
  content: "\e99c";
}
.icon-ic_local_bar_48px:before {
  content: "\e99d";
}
.icon-ic_local_cafe_48px:before {
  content: "\e99e";
}
.icon-ic_local_car_wash_48px:before {
  content: "\e99f";
}
.icon-ic_local_convenience_store_48px:before {
  content: "\e9a0";
}
.icon-ic_local_dining_48px:before {
  content: "\e9a1";
}
.icon-ic_local_drink_48px:before {
  content: "\e9a2";
}
.icon-ic_local_florist_48px:before {
  content: "\e9a3";
}
.icon-ic_local_gas_station_48px:before {
  content: "\e9a4";
}
.icon-ic_local_grocery_store_48px:before {
  content: "\e9a5";
}
.icon-ic_local_hospital_48px:before {
  content: "\e9a6";
}
.icon-ic_local_hotel_48px:before {
  content: "\e9a7";
}
.icon-ic_local_laundry_service_48px:before {
  content: "\e9a8";
}
.icon-ic_local_library_48px:before {
  content: "\e9a9";
}
.icon-ic_local_mall_48px:before {
  content: "\e9aa";
}
.icon-ic_local_movies_48px:before {
  content: "\e9ab";
}
.icon-ic_local_offer_48px:before {
  content: "\e9ac";
}
.icon-ic_local_parking_48px:before {
  content: "\e9ad";
}
.icon-ic_local_pharmacy_48px:before {
  content: "\e9ae";
}
.icon-ic_local_phone_48px:before {
  content: "\e9af";
}
.icon-ic_local_pizza_48px:before {
  content: "\e9b0";
}
.icon-ic_local_play_48px:before {
  content: "\e9b1";
}
.icon-ic_local_post_office_48px:before {
  content: "\e9b2";
}
.icon-ic_local_printshop_48px:before {
  content: "\e9b3";
}
.icon-ic_local_see_48px:before {
  content: "\e9b4";
}
.icon-ic_local_shipping_48px:before {
  content: "\e9b5";
}
.icon-ic_local_taxi_48px:before {
  content: "\e9b6";
}
.icon-ic_map_48px:before {
  content: "\e9b7";
}
.icon-ic_my_location_48px:before {
  content: "\e9b8";
}
.icon-ic_navigation_48px:before {
  content: "\e9b9";
}
.icon-ic_near_me_48px:before {
  content: "\e9ba";
}
.icon-ic_person_pin_48px:before {
  content: "\e9bb";
}
.icon-ic_person_pin_circle_48px:before {
  content: "\e9bc";
}
.icon-ic_pin_drop_48px:before {
  content: "\e9bd";
}
.icon-ic_place_48px:before {
  content: "\e9be";
}
.icon-ic_rate_review_48px:before {
  content: "\e9bf";
}
.icon-ic_restaurant_48px:before {
  content: "\e9c0";
}
.icon-ic_restaurant_menu_48px:before {
  content: "\e9c1";
}
.icon-ic_satellite_48px:before {
  content: "\e9c2";
}
.icon-ic_store_mall_directory_48px:before {
  content: "\e9c3";
}
.icon-ic_streetview_48px:before {
  content: "\e9c4";
}
.icon-ic_subway_48px:before {
  content: "\e9c5";
}
.icon-ic_terrain_48px:before {
  content: "\e9c6";
}
.icon-ic_traffic_48px:before {
  content: "\e9c7";
}
.icon-ic_train_48px:before {
  content: "\e9c8";
}
.icon-ic_tram_48px:before {
  content: "\e9c9";
}
.icon-ic_transfer_within_a_station_48px:before {
  content: "\e9ca";
}
.icon-ic_zoom_out_map_48px:before {
  content: "\e9cb";
}
.icon-ic_add_a_photo_48px:before {
  content: "\e9cc";
}
.icon-ic_add_to_photos_48px:before {
  content: "\e9cd";
}
.icon-ic_adjust_48px:before {
  content: "\e9ce";
}
.icon-ic_assistant_48px:before {
  content: "\e9cf";
}
.icon-ic_assistant_photo_48px:before {
  content: "\e9d0";
}
.icon-ic_audiotrack_48px:before {
  content: "\e9d1";
}
.icon-ic_blur_circular_48px:before {
  content: "\e9d2";
}
.icon-ic_blur_linear_48px:before {
  content: "\e9d3";
}
.icon-ic_blur_off_48px:before {
  content: "\e9d4";
}
.icon-ic_blur_on_48px:before {
  content: "\e9d5";
}
.icon-ic_brightness_1_48px:before {
  content: "\e9d6";
}
.icon-ic_brightness_2_48px:before {
  content: "\e9d7";
}
.icon-ic_brightness_3_48px:before {
  content: "\e9d8";
}
.icon-ic_brightness_4_48px:before {
  content: "\e9d9";
}
.icon-ic_brightness_5_48px:before {
  content: "\e9da";
}
.icon-ic_brightness_6_48px:before {
  content: "\e9db";
}
.icon-ic_brightness_7_48px:before {
  content: "\e9dc";
}
.icon-ic_broken_image_48px:before {
  content: "\e9dd";
}
.icon-ic_brush_48px:before {
  content: "\e9de";
}
.icon-ic_burst_mode_48px:before {
  content: "\e9df";
}
.icon-ic_camera_48px:before {
  content: "\e9e0";
}
.icon-ic_camera_alt_48px:before {
  content: "\e9e1";
}
.icon-ic_camera_front_48px:before {
  content: "\e9e2";
}
.icon-ic_camera_rear_48px:before {
  content: "\e9e3";
}
.icon-ic_camera_roll_48px:before {
  content: "\e9e4";
}
.icon-ic_center_focus_strong_48px:before {
  content: "\e9e5";
}
.icon-ic_center_focus_weak_48px:before {
  content: "\e9e6";
}
.icon-ic_collections_48px:before {
  content: "\e9e7";
}
.icon-ic_color_lens_48px:before {
  content: "\e9e8";
}
.icon-ic_colorize_48px:before {
  content: "\e9e9";
}
.icon-ic_compare_48px:before {
  content: "\e9ea";
}
.icon-ic_control_point_48px:before {
  content: "\e9eb";
}
.icon-ic_control_point_duplicate_48px:before {
  content: "\e9ec";
}
.icon-ic_crop_3_2_48px:before {
  content: "\e9ed";
}
.icon-ic_crop_5_4_48px:before {
  content: "\e9ee";
}
.icon-ic_crop_7_5_48px:before {
  content: "\e9ef";
}
.icon-ic_crop_16_9_48px:before {
  content: "\e9f0";
}
.icon-ic_crop_48px:before {
  content: "\e9f1";
}
.icon-ic_crop_din_48px:before {
  content: "\e9f2";
}
.icon-ic_crop_free_48px:before {
  content: "\e9f3";
}
.icon-ic_crop_landscape_48px:before {
  content: "\e9f4";
}
.icon-ic_crop_original_48px:before {
  content: "\e9f5";
}
.icon-ic_crop_portrait_48px:before {
  content: "\e9f6";
}
.icon-ic_crop_rotate_48px:before {
  content: "\e9f7";
}
.icon-ic_crop_square_48px:before {
  content: "\e9f8";
}
.icon-ic_dehaze_48px:before {
  content: "\e9f9";
}
.icon-ic_details_48px:before {
  content: "\e9fa";
}
.icon-ic_edit_48px:before {
  content: "\e9fb";
}
.icon-ic_exposure_48px:before {
  content: "\e9fc";
}
.icon-ic_exposure_neg_1_48px:before {
  content: "\e9fd";
}
.icon-ic_exposure_neg_2_48px:before {
  content: "\e9fe";
}
.icon-ic_exposure_plus_1_48px:before {
  content: "\e9ff";
}
.icon-ic_exposure_plus_2_48px:before {
  content: "\ea00";
}
.icon-ic_exposure_zero_48px:before {
  content: "\ea01";
}
.icon-ic_filter_1_48px:before {
  content: "\ea02";
}
.icon-ic_filter_2_48px:before {
  content: "\ea03";
}
.icon-ic_filter_3_48px:before {
  content: "\ea04";
}
.icon-ic_filter_4_48px:before {
  content: "\ea05";
}
.icon-ic_filter_5_48px:before {
  content: "\ea06";
}
.icon-ic_filter_6_48px:before {
  content: "\ea07";
}
.icon-ic_filter_7_48px:before {
  content: "\ea08";
}
.icon-ic_filter_8_48px:before {
  content: "\ea09";
}
.icon-ic_filter_9_48px:before {
  content: "\ea0a";
}
.icon-ic_filter_9_plus_48px:before {
  content: "\ea0b";
}
.icon-ic_filter_48px:before {
  content: "\ea0c";
}
.icon-ic_filter_b_and_w_48px:before {
  content: "\ea0d";
}
.icon-ic_filter_center_focus_48px:before {
  content: "\ea0e";
}
.icon-ic_filter_drama_48px:before {
  content: "\ea0f";
}
.icon-ic_filter_frames_48px:before {
  content: "\ea10";
}
.icon-ic_filter_hdr_48px:before {
  content: "\ea11";
}
.icon-ic_filter_none_48px:before {
  content: "\ea12";
}
.icon-ic_filter_tilt_shift_48px:before {
  content: "\ea13";
}
.icon-ic_filter_vintage_48px:before {
  content: "\ea14";
}
.icon-ic_flare_48px:before {
  content: "\ea15";
}
.icon-ic_flash_auto_48px:before {
  content: "\ea16";
}
.icon-ic_flash_off_48px:before {
  content: "\ea17";
}
.icon-ic_flash_on_48px:before {
  content: "\ea18";
}
.icon-ic_flip_48px:before {
  content: "\ea19";
}
.icon-ic_gradient_48px:before {
  content: "\ea1a";
}
.icon-ic_grain_48px:before {
  content: "\ea1b";
}
.icon-ic_grid_off_48px:before {
  content: "\ea1c";
}
.icon-ic_grid_on_48px:before {
  content: "\ea1d";
}
.icon-ic_hdr_off_48px:before {
  content: "\ea1e";
}
.icon-ic_hdr_on_48px:before {
  content: "\ea1f";
}
.icon-ic_hdr_strong_48px:before {
  content: "\ea20";
}
.icon-ic_hdr_weak_48px:before {
  content: "\ea21";
}
.icon-ic_healing_48px:before {
  content: "\ea22";
}
.icon-ic_image_48px:before {
  content: "\ea23";
}
.icon-ic_image_aspect_ratio_48px:before {
  content: "\ea24";
}
.icon-ic_iso_48px:before {
  content: "\ea25";
}
.icon-ic_landscape_48px:before {
  content: "\ea26";
}
.icon-ic_leak_add_48px:before {
  content: "\ea27";
}
.icon-ic_leak_remove_48px:before {
  content: "\ea28";
}
.icon-ic_lens_48px:before {
  content: "\ea29";
}
.icon-ic_linked_camera_48px:before {
  content: "\ea2a";
}
.icon-ic_looks_3_48px:before {
  content: "\ea2b";
}
.icon-ic_looks_4_48px:before {
  content: "\ea2c";
}
.icon-ic_looks_5_48px:before {
  content: "\ea2d";
}
.icon-ic_looks_6_48px:before {
  content: "\ea2e";
}
.icon-ic_looks_48px:before {
  content: "\ea2f";
}
.icon-ic_looks_one_48px:before {
  content: "\ea30";
}
.icon-ic_looks_two_48px:before {
  content: "\ea31";
}
.icon-ic_loupe_48px:before {
  content: "\ea32";
}
.icon-ic_monochrome_photos_48px:before {
  content: "\ea33";
}
.icon-ic_movie_creation_48px:before {
  content: "\ea34";
}
.icon-ic_movie_filter_48px:before {
  content: "\ea35";
}
.icon-ic_music_note_48px:before {
  content: "\ea36";
}
.icon-ic_nature_48px:before {
  content: "\ea37";
}
.icon-ic_nature_people_48px:before {
  content: "\ea38";
}
.icon-ic_navigate_before_48px:before {
  content: "\ea39";
}
.icon-ic_navigate_next_48px:before {
  content: "\ea3a";
}
.icon-ic_palette_48px:before {
  content: "\ea3b";
}
.icon-ic_panorama_48px:before {
  content: "\ea3c";
}
.icon-ic_panorama_fish_eye_48px:before {
  content: "\ea3d";
}
.icon-ic_panorama_horizontal_48px:before {
  content: "\ea3e";
}
.icon-ic_panorama_vertical_48px:before {
  content: "\ea3f";
}
.icon-ic_panorama_wide_angle_48px:before {
  content: "\ea40";
}
.icon-ic_photo_48px:before {
  content: "\ea41";
}
.icon-ic_photo_album_48px:before {
  content: "\ea42";
}
.icon-ic_photo_camera_48px:before {
  content: "\ea43";
}
.icon-ic_photo_filter_48px:before {
  content: "\ea44";
}
.icon-ic_photo_library_48px:before {
  content: "\ea45";
}
.icon-ic_picture_as_pdf_48px:before {
  content: "\ea46";
}
.icon-ic_portrait_48px:before {
  content: "\ea47";
}
.icon-ic_remove_red_eye_48px:before {
  content: "\ea48";
}
.icon-ic_rotate_90_degrees_ccw_48px:before {
  content: "\ea49";
}
.icon-ic_rotate_left_48px:before {
  content: "\ea4a";
}
.icon-ic_rotate_right_48px:before {
  content: "\ea4b";
}
.icon-ic_slideshow_48px:before {
  content: "\ea4c";
}
.icon-ic_straighten_48px:before {
  content: "\ea4d";
}
.icon-ic_style_48px:before {
  content: "\ea4e";
}
.icon-ic_switch_camera_48px:before {
  content: "\ea4f";
}
.icon-ic_switch_video_48px:before {
  content: "\ea50";
}
.icon-ic_tag_faces_48px:before {
  content: "\ea51";
}
.icon-ic_texture_48px:before {
  content: "\ea52";
}
.icon-ic_timelapse_48px:before {
  content: "\ea53";
}
.icon-ic_timer_3_48px:before {
  content: "\ea54";
}
.icon-ic_timer_10_48px:before {
  content: "\ea55";
}
.icon-ic_timer_48px:before {
  content: "\ea56";
}
.icon-ic_timer_off_48px:before {
  content: "\ea57";
}
.icon-ic_tonality_48px:before {
  content: "\ea58";
}
.icon-ic_transform_48px:before {
  content: "\ea59";
}
.icon-ic_tune_48px:before {
  content: "\ea5a";
}
.icon-ic_view_comfy_48px:before {
  content: "\ea5b";
}
.icon-ic_view_compact_48px:before {
  content: "\ea5c";
}
.icon-ic_wb_auto_48px:before {
  content: "\ea5d";
}
.icon-ic_wb_cloudy_48px:before {
  content: "\ea5e";
}
.icon-ic_wb_incandescent_48px:before {
  content: "\ea5f";
}
.icon-ic_wb_iridescent_48px:before {
  content: "\ea60";
}
.icon-ic_wb_sunny_48px:before {
  content: "\ea61";
}
.icon-ic_cast_48px:before {
  content: "\ea62";
}
.icon-ic_cast_connected_48px:before {
  content: "\ea63";
}
.icon-ic_computer_48px:before {
  content: "\ea64";
}
.icon-ic_desktop_mac_48px:before {
  content: "\ea65";
}
.icon-ic_desktop_windows_48px:before {
  content: "\ea66";
}
.icon-ic_developer_board_48px:before {
  content: "\ea67";
}
.icon-ic_devices_other_48px:before {
  content: "\ea68";
}
.icon-ic_dock_48px:before {
  content: "\ea69";
}
.icon-ic_gamepad_48px:before {
  content: "\ea6a";
}
.icon-ic_headset_48px:before {
  content: "\ea6b";
}
.icon-ic_headset_mic_48px:before {
  content: "\ea6c";
}
.icon-ic_keyboard_48px:before {
  content: "\ea6d";
}
.icon-ic_keyboard_arrow_down_48px:before {
  content: "\ea6e";
}
.icon-ic_keyboard_arrow_left_48px:before {
  content: "\ea6f";
}
.icon-ic_keyboard_arrow_right_48px:before {
  content: "\ea70";
}
.icon-ic_attachment_48px:before {
  content: "\ea71";
}
.icon-ic_cloud_48px:before {
  content: "\ea72";
}
.icon-ic_cloud_circle_48px:before {
  content: "\ea73";
}
.icon-ic_cloud_done_48px:before {
  content: "\ea74";
}
.icon-ic_cloud_download_48px:before {
  content: "\ea75";
}
.icon-ic_cloud_off_48px:before {
  content: "\ea76";
}
.icon-ic_cloud_queue_48px:before {
  content: "\ea77";
}
.icon-ic_cloud_upload_48px:before {
  content: "\ea78";
}
.icon-ic_create_new_folder_48px:before {
  content: "\ea79";
}
.icon-ic_file_download_48px:before {
  content: "\ea7a";
}
.icon-ic_file_upload_48px:before {
  content: "\ea7b";
}
.icon-ic_folder_48px:before {
  content: "\ea7c";
}
.icon-ic_folder_open_48px:before {
  content: "\ea7d";
}
.icon-ic_folder_shared_48px:before {
  content: "\ea7e";
}
.icon-ic_attach_file_48px:before {
  content: "\ea7f";
}
.icon-ic_attach_money_48px:before {
  content: "\ea80";
}
.icon-ic_border_all_48px:before {
  content: "\ea81";
}
.icon-ic_border_bottom_48px:before {
  content: "\ea82";
}
.icon-ic_border_clear_48px:before {
  content: "\ea83";
}
.icon-ic_border_color_48px .path1:before {
  content: "\ea84";
  color: rgb(0, 0, 0);
}
.icon-ic_border_color_48px .path2:before {
  content: "\ea85";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.36;
}
.icon-ic_border_horizontal_48px:before {
  content: "\ea86";
}
.icon-ic_border_inner_48px:before {
  content: "\ea87";
}
.icon-ic_border_left_48px:before {
  content: "\ea88";
}
.icon-ic_border_outer_48px:before {
  content: "\ea89";
}
.icon-ic_border_right_48px:before {
  content: "\ea8a";
}
.icon-ic_border_style_48px:before {
  content: "\ea8b";
}
.icon-ic_border_top_48px:before {
  content: "\ea8c";
}
.icon-ic_border_vertical_48px:before {
  content: "\ea8d";
}
.icon-ic_bubble_chart_48px:before {
  content: "\ea8e";
}
.icon-ic_drag_handle_48px:before {
  content: "\ea8f";
}
.icon-ic_format_align_center_48px:before {
  content: "\ea90";
}
.icon-ic_format_align_justify_48px:before {
  content: "\ea91";
}
.icon-ic_format_align_left_48px:before {
  content: "\ea92";
}
.icon-ic_format_align_right_48px:before {
  content: "\ea93";
}
.icon-ic_format_bold_48px:before {
  content: "\ea94";
}
.icon-ic_format_clear_48px:before {
  content: "\ea95";
}
.icon-ic_format_color_fill_48px .path1:before {
  content: "\ea96";
  color: rgb(0, 0, 0);
}
.icon-ic_format_color_fill_48px .path2:before {
  content: "\ea97";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.36;
}
.icon-ic_format_color_reset_48px:before {
  content: "\ea98";
}
.icon-ic_format_color_text_48px .path1:before {
  content: "\ea99";
  color: rgb(0, 0, 0);
  opacity: 0.36;
}
.icon-ic_format_color_text_48px .path2:before {
  content: "\ea9a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ic_format_indent_decrease_48px:before {
  content: "\ea9b";
}
.icon-ic_format_indent_increase_48px:before {
  content: "\ea9c";
}
.icon-ic_format_italic_48px:before {
  content: "\ea9d";
}
.icon-ic_format_line_spacing_48px:before {
  content: "\ea9e";
}
.icon-ic_format_list_bulleted_48px:before {
  content: "\ea9f";
}
.icon-ic_format_list_numbered_48px:before {
  content: "\eaa0";
}
.icon-ic_format_paint_48px:before {
  content: "\eaa1";
}
.icon-ic_format_quote_48px:before {
  content: "\eaa2";
}
.icon-ic_format_shapes_48px:before {
  content: "\eaa3";
}
.icon-ic_format_size_48px:before {
  content: "\eaa4";
}
.icon-ic_format_strikethrough_48px:before {
  content: "\eaa5";
}
.icon-ic_format_textdirection_l_to_r_48px:before {
  content: "\eaa6";
}
.icon-ic_format_textdirection_r_to_l_48px:before {
  content: "\eaa7";
}
.icon-ic_format_underlined_48px:before {
  content: "\eaa8";
}
.icon-ic_functions_48px:before {
  content: "\eaa9";
}
.icon-ic_highlight_48px:before {
  content: "\eaaa";
}
.icon-ic_insert_chart_48px:before {
  content: "\eaab";
}
.icon-ic_insert_comment_48px:before {
  content: "\eaac";
}
.icon-ic_insert_drive_file_48px:before {
  content: "\eaad";
}
.icon-ic_insert_emoticon_48px:before {
  content: "\eaae";
}
.icon-ic_insert_invitation_48px:before {
  content: "\eaaf";
}
.icon-ic_insert_link_48px:before {
  content: "\eab0";
}
.icon-ic_insert_photo_48px:before {
  content: "\eab1";
}
.icon-ic_linear_scale_48px:before {
  content: "\eab2";
}
.icon-ic_merge_type_48px:before {
  content: "\eab3";
}
.icon-ic_mode_comment_48px:before {
  content: "\eab4";
}
.icon-ic_mode_edit_48px:before {
  content: "\eab5";
}
.icon-ic_monetization_on_48px:before {
  content: "\eab6";
}
.icon-ic_multiline_chart_48px:before {
  content: "\eab7";
}
.icon-ic_pie_chart_48px:before {
  content: "\eab8";
}
.icon-ic_pie_chart_outlined_48px:before {
  content: "\eab9";
}
.icon-ic_publish_48px:before {
  content: "\eaba";
}
.icon-ic_short_text_48px:before {
  content: "\eabb";
}
.icon-ic_show_chart_48px:before {
  content: "\eabc";
}
.icon-ic_space_bar_48px:before {
  content: "\eabd";
}
.icon-ic_strikethrough_s_48px:before {
  content: "\eabe";
}
.icon-ic_text_fields_48px:before {
  content: "\eabf";
}
.icon-ic_title_48px:before {
  content: "\eac0";
}
.icon-ic_vertical_align_bottom_48px:before {
  content: "\eac1";
}
.icon-ic_vertical_align_center_48px:before {
  content: "\eac2";
}
.icon-ic_vertical_align_top_48px:before {
  content: "\eac3";
}
.icon-ic_wrap_text_48px:before {
  content: "\eac4";
}
.icon-ic_access_alarm_48px:before {
  content: "\eac5";
}
.icon-ic_access_alarms_48px:before {
  content: "\eac6";
}
.icon-ic_access_time_48px:before {
  content: "\eac7";
}
.icon-ic_add_alarm_48px:before {
  content: "\eac8";
}
.icon-ic_airplanemode_active_48px:before {
  content: "\eac9";
}
.icon-ic_airplanemode_inactive_48px:before {
  content: "\eaca";
}
.icon-ic_battery_20_48px .path1:before {
  content: "\eacb";
  color: rgb(0, 0, 0);
}
.icon-ic_battery_20_48px .path2:before {
  content: "\eacc";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-ic_battery_30_48px .path1:before {
  content: "\eacd";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-ic_battery_30_48px .path2:before {
  content: "\eace";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ic_battery_50_48px .path1:before {
  content: "\eacf";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-ic_battery_50_48px .path2:before {
  content: "\ead0";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ic_battery_60_48px .path1:before {
  content: "\ead1";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-ic_battery_60_48px .path2:before {
  content: "\ead2";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ic_battery_80_48px .path1:before {
  content: "\ead3";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-ic_battery_80_48px .path2:before {
  content: "\ead4";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ic_battery_90_48px .path1:before {
  content: "\ead5";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-ic_battery_90_48px .path2:before {
  content: "\ead6";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ic_battery_alert_48px:before {
  content: "\ead7";
}
.icon-ic_battery_charging_20_48px .path1:before {
  content: "\ead8";
  color: rgb(0, 0, 0);
}
.icon-ic_battery_charging_20_48px .path2:before {
  content: "\ead9";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-ic_battery_charging_30_48px .path1:before {
  content: "\eada";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-ic_battery_charging_30_48px .path2:before {
  content: "\eadb";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ic_battery_charging_50_48px .path1:before {
  content: "\eadc";
  color: rgb(0, 0, 0);
}
.icon-ic_battery_charging_50_48px .path2:before {
  content: "\eadd";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-ic_battery_charging_60_48px .path1:before {
  content: "\eade";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-ic_battery_charging_60_48px .path2:before {
  content: "\eadf";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ic_battery_charging_80_48px .path1:before {
  content: "\eae0";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-ic_battery_charging_80_48px .path2:before {
  content: "\eae1";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ic_battery_charging_90_48px .path1:before {
  content: "\eae2";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-ic_battery_charging_90_48px .path2:before {
  content: "\eae3";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ic_battery_charging_full_48px:before {
  content: "\eae4";
}
.icon-ic_battery_full_48px:before {
  content: "\eae5";
}
.icon-ic_battery_std_48px:before {
  content: "\eae6";
}
.icon-ic_battery_unknown_48px:before {
  content: "\eae7";
}
.icon-ic_bluetooth_48px:before {
  content: "\eae8";
}
.icon-ic_bluetooth_connected_48px:before {
  content: "\eae9";
}
.icon-ic_bluetooth_disabled_48px:before {
  content: "\eaea";
}
.icon-ic_bluetooth_searching_48px:before {
  content: "\eaeb";
}
.icon-ic_brightness_auto_48px:before {
  content: "\eaec";
}
.icon-ic_brightness_high_48px:before {
  content: "\eaed";
}
.icon-ic_brightness_low_48px:before {
  content: "\eaee";
}
.icon-ic_brightness_medium_48px:before {
  content: "\eaef";
}
.icon-ic_data_usage_48px:before {
  content: "\eaf0";
}
.icon-ic_developer_mode_48px:before {
  content: "\eaf1";
}
.icon-ic_devices_48px:before {
  content: "\eaf2";
}
.icon-ic_dvr_48px:before {
  content: "\eaf3";
}
.icon-ic_gps_fixed_48px:before {
  content: "\eaf4";
}
.icon-ic_gps_not_fixed_48px:before {
  content: "\eaf5";
}
.icon-ic_gps_off_48px:before {
  content: "\eaf6";
}
.icon-ic_graphic_eq_48px:before {
  content: "\eaf7";
}
.icon-ic_location_disabled_48px:before {
  content: "\eaf8";
}
.icon-ic_location_searching_48px:before {
  content: "\eaf9";
}
.icon-ic_network_cell_48px .path1:before {
  content: "\eafa";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-ic_network_cell_48px .path2:before {
  content: "\eafb";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ic_network_wifi_48px .path1:before {
  content: "\eafc";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-ic_network_wifi_48px .path2:before {
  content: "\eafd";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ic_nfc_48px:before {
  content: "\eafe";
}
.icon-ic_screen_lock_landscape_48px:before {
  content: "\eaff";
}
.icon-ic_screen_lock_portrait_48px:before {
  content: "\eb00";
}
.icon-ic_screen_lock_rotation_48px:before {
  content: "\eb01";
}
.icon-ic_screen_rotation_48px:before {
  content: "\eb02";
}
.icon-ic_sd_storage_48px:before {
  content: "\eb03";
}
.icon-ic_settings_system_daydream_48px:before {
  content: "\eb04";
}
.icon-ic_signal_cellular_0_bar_48px:before {
  content: "\eb05";
}
.icon-ic_signal_cellular_1_bar_48px .path1:before {
  content: "\eb06";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-ic_signal_cellular_1_bar_48px .path2:before {
  content: "\eb07";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ic_signal_cellular_2_bar_48px .path1:before {
  content: "\eb08";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-ic_signal_cellular_2_bar_48px .path2:before {
  content: "\eb09";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ic_signal_cellular_3_bar_48px .path1:before {
  content: "\eb0a";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-ic_signal_cellular_3_bar_48px .path2:before {
  content: "\eb0b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ic_signal_cellular_4_bar_48px:before {
  content: "\eb0c";
}
.icon-ic_signal_cellular_connected_no_internet_0_bar_48px .path1:before {
  content: "\eb0d";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-ic_signal_cellular_connected_no_internet_0_bar_48px .path2:before {
  content: "\eb0e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ic_signal_cellular_connected_no_internet_1_bar_48px .path1:before {
  content: "\eb0f";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-ic_signal_cellular_connected_no_internet_1_bar_48px .path2:before {
  content: "\eb10";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ic_signal_cellular_connected_no_internet_2_bar_48px .path1:before {
  content: "\eb11";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-ic_signal_cellular_connected_no_internet_2_bar_48px .path2:before {
  content: "\eb12";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ic_signal_cellular_connected_no_internet_3_bar_48px .path1:before {
  content: "\eb13";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-ic_signal_cellular_connected_no_internet_3_bar_48px .path2:before {
  content: "\eb14";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ic_signal_cellular_connected_no_internet_4_bar_48px:before {
  content: "\eb15";
}
.icon-ic_signal_cellular_no_sim_48px:before {
  content: "\eb16";
}
.icon-ic_signal_cellular_null_48px:before {
  content: "\eb17";
}
.icon-ic_signal_cellular_off_48px:before {
  content: "\eb18";
}
.icon-ic_signal_wifi_0_bar_48px:before {
  content: "\eb19";
}
.icon-ic_signal_wifi_1_bar_48px .path1:before {
  content: "\eb1a";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-ic_signal_wifi_1_bar_48px .path2:before {
  content: "\eb1b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ic_signal_wifi_1_bar_lock_48px .path1:before {
  content: "\eb1c";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-ic_signal_wifi_1_bar_lock_48px .path2:before {
  content: "\eb1d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ic_signal_wifi_2_bar_48px .path1:before {
  content: "\eb1e";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-ic_signal_wifi_2_bar_48px .path2:before {
  content: "\eb1f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ic_signal_wifi_2_bar_lock_48px .path1:before {
  content: "\eb20";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-ic_signal_wifi_2_bar_lock_48px .path2:before {
  content: "\eb21";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ic_signal_wifi_3_bar_48px .path1:before {
  content: "\eb22";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-ic_signal_wifi_3_bar_48px .path2:before {
  content: "\eb23";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ic_signal_wifi_3_bar_lock_48px .path1:before {
  content: "\eb24";
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-ic_signal_wifi_3_bar_lock_48px .path2:before {
  content: "\eb25";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ic_signal_wifi_4_bar_48px:before {
  content: "\eb26";
}
.icon-ic_signal_wifi_4_bar_lock_48px:before {
  content: "\eb27";
}
.icon-ic_signal_wifi_off_48px:before {
  content: "\eb28";
}
.icon-ic_storage_48px:before {
  content: "\eb29";
}
.icon-ic_usb_48px:before {
  content: "\eb2a";
}
.icon-ic_wallpaper_48px:before {
  content: "\eb2b";
}
.icon-ic_widgets_48px:before {
  content: "\eb2c";
}
.icon-ic_wifi_lock_48px:before {
  content: "\eb2d";
}
.icon-ic_wifi_tethering_48px:before {
  content: "\eb2e";
}
.icon-ic_add_48px:before {
  content: "\eb2f";
}
.icon-ic_add_box_48px:before {
  content: "\eb30";
}
.icon-ic_add_circle_48px:before {
  content: "\eb31";
}
.icon-ic_add_circle_outline_48px:before {
  content: "\eb32";
}
.icon-ic_archive_48px:before {
  content: "\eb33";
}
.icon-ic_backspace_48px:before {
  content: "\eb34";
}
.icon-ic_block_48px:before {
  content: "\eb35";
}
.icon-ic_clear_48px:before {
  content: "\eb36";
}
.icon-ic_content_copy_48px:before {
  content: "\eb37";
}
.icon-ic_content_cut_48px:before {
  content: "\eb38";
}
.icon-ic_content_paste_48px:before {
  content: "\eb39";
}
.icon-ic_create_48px:before {
  content: "\eb3a";
}
.icon-ic_delete_sweep_48px:before {
  content: "\eb3b";
}
.icon-ic_drafts_48px:before {
  content: "\eb3c";
}
.icon-ic_filter_list_48px:before {
  content: "\eb3d";
}
.icon-ic_flag_48px:before {
  content: "\eb3e";
}
.icon-ic_forward_48px:before {
  content: "\eb3f";
}
.icon-ic_gesture_48px:before {
  content: "\eb40";
}
.icon-ic_inbox_48px:before {
  content: "\eb41";
}
.icon-ic_link_48px:before {
  content: "\eb42";
}
.icon-ic_low_priority_48px:before {
  content: "\eb43";
}
.icon-ic_mail_48px:before {
  content: "\eb44";
}
.icon-ic_markunread_48px:before {
  content: "\eb45";
}
.icon-ic_move_to_inbox_48px:before {
  content: "\eb46";
}
.icon-ic_next_week_48px:before {
  content: "\eb47";
}
.icon-ic_redo_48px:before {
  content: "\eb48";
}
.icon-ic_remove_48px:before {
  content: "\eb49";
}
.icon-ic_remove_circle_48px:before {
  content: "\eb4a";
}
.icon-ic_remove_circle_outline_48px:before {
  content: "\eb4b";
}
.icon-ic_reply_48px:before {
  content: "\eb4c";
}
.icon-ic_reply_all_48px:before {
  content: "\eb4d";
}
.icon-ic_report_48px:before {
  content: "\eb4e";
}
.icon-ic_save_48px:before {
  content: "\eb4f";
}
.icon-ic_select_all_48px:before {
  content: "\eb50";
}
.icon-ic_send_48px:before {
  content: "\eb51";
}
.icon-ic_sort_48px:before {
  content: "\eb52";
}
.icon-ic_text_format_48px:before {
  content: "\eb53";
}
.icon-ic_unarchive_48px:before {
  content: "\eb54";
}
.icon-ic_undo_48px:before {
  content: "\eb55";
}
.icon-ic_weekend_48px:before {
  content: "\eb56";
}
.icon-ic_business_48px:before {
  content: "\eb57";
}
.icon-ic_call_48px:before {
  content: "\eb58";
}
.icon-ic_call_end_48px:before {
  content: "\eb59";
}
.icon-ic_call_made_48px:before {
  content: "\eb5a";
}
.icon-ic_call_merge_48px:before {
  content: "\eb5b";
}
.icon-ic_call_missed_48px:before {
  content: "\eb5c";
}
.icon-ic_call_missed_outgoing_48px:before {
  content: "\eb5d";
}
.icon-ic_call_received_48px:before {
  content: "\eb5e";
}
.icon-ic_call_split_48px:before {
  content: "\eb5f";
}
.icon-ic_chat_48px:before {
  content: "\eb60";
}
.icon-ic_chat_bubble_48px:before {
  content: "\eb61";
}
.icon-ic_chat_bubble_outline_48px:before {
  content: "\eb62";
}
.icon-ic_clear_all_48px:before {
  content: "\eb63";
}
.icon-ic_comment_48px:before {
  content: "\eb64";
}
.icon-ic_contact_mail_48px:before {
  content: "\eb65";
}
.icon-ic_contact_phone_48px:before {
  content: "\eb66";
}
.icon-ic_contacts_48px:before {
  content: "\eb67";
}
.icon-ic_dialer_sip_48px:before {
  content: "\eb68";
}
.icon-ic_dialpad_48px:before {
  content: "\eb69";
}
.icon-ic_email_48px:before {
  content: "\eb6a";
}
.icon-ic_forum_48px:before {
  content: "\eb6b";
}
.icon-ic_import_contacts_48px:before {
  content: "\eb6c";
}
.icon-ic_import_export_48px:before {
  content: "\eb6d";
}
.icon-ic_invert_colors_off_48px:before {
  content: "\eb6e";
}
.icon-ic_live_help_48px:before {
  content: "\eb6f";
}
.icon-ic_location_off_48px:before {
  content: "\eb70";
}
.icon-ic_location_on_48px:before {
  content: "\eb71";
}
.icon-ic_mail_outline_48px:before {
  content: "\eb72";
}
.icon-ic_message_48px:before {
  content: "\eb73";
}
.icon-ic_no_sim_48px:before {
  content: "\eb74";
}
.icon-ic_phone_48px:before {
  content: "\eb75";
}
.icon-ic_portable_wifi_off_48px:before {
  content: "\eb76";
}
.icon-ic_present_to_all_48px:before {
  content: "\eb77";
}
.icon-ic_ring_volume_48px:before {
  content: "\eb78";
}
.icon-ic_rss_feed_48px:before {
  content: "\eb79";
}
.icon-ic_screen_share_48px:before {
  content: "\eb7a";
}
.icon-ic_speaker_phone_48px:before {
  content: "\eb7b";
}
.icon-ic_stay_current_landscape_48px:before {
  content: "\eb7c";
}
.icon-ic_stay_current_portrait_48px:before {
  content: "\eb7d";
}
.icon-ic_stay_primary_landscape_48px:before {
  content: "\eb7e";
}
.icon-ic_stay_primary_portrait_48px:before {
  content: "\eb7f";
}
.icon-ic_stop_screen_share_48px:before {
  content: "\eb80";
}
.icon-ic_swap_calls_48px:before {
  content: "\eb81";
}
.icon-ic_textsms_48px:before {
  content: "\eb82";
}
.icon-ic_voicemail_48px:before {
  content: "\eb83";
}
.icon-ic_vpn_key_48px:before {
  content: "\eb84";
}
.icon-ic_add_to_queue_48px:before {
  content: "\eb85";
}
.icon-ic_airplay_48px:before {
  content: "\eb86";
}
.icon-ic_album_48px:before {
  content: "\eb87";
}
.icon-ic_art_track_48px:before {
  content: "\eb88";
}
.icon-ic_av_timer_48px:before {
  content: "\eb89";
}
.icon-ic_branding_watermark_48px:before {
  content: "\eb8a";
}
.icon-ic_call_to_action_48px:before {
  content: "\eb8b";
}
.icon-ic_closed_caption_48px:before {
  content: "\eb8c";
}
.icon-ic_equalizer_48px:before {
  content: "\eb8d";
}
.icon-ic_explicit_48px:before {
  content: "\eb8e";
}
.icon-ic_fast_forward_48px:before {
  content: "\eb8f";
}
.icon-ic_fast_rewind_48px:before {
  content: "\eb90";
}
.icon-ic_featured_play_list_48px:before {
  content: "\eb91";
}
.icon-ic_featured_video_48px:before {
  content: "\eb92";
}
.icon-ic_fiber_dvr_48px:before {
  content: "\eb93";
}
.icon-ic_fiber_manual_record_48px:before {
  content: "\eb94";
}
.icon-ic_fiber_new_48px:before {
  content: "\eb95";
}
.icon-ic_fiber_pin_48px:before {
  content: "\eb96";
}
.icon-ic_fiber_smart_record_48px:before {
  content: "\eb97";
}
.icon-ic_forward_5_48px:before {
  content: "\eb98";
}
.icon-ic_forward_10_48px:before {
  content: "\eb99";
}
.icon-ic_forward_30_48px:before {
  content: "\eb9a";
}
.icon-ic_games_48px:before {
  content: "\eb9b";
}
.icon-ic_hearing_48px:before {
  content: "\eb9c";
}
.icon-ic_high_quality_48px:before {
  content: "\eb9d";
}
.icon-ic_library_add_48px:before {
  content: "\eb9e";
}
.icon-ic_library_books_48px:before {
  content: "\eb9f";
}
.icon-ic_library_music_48px:before {
  content: "\eba0";
}
.icon-ic_loop_48px:before {
  content: "\eba1";
}
.icon-ic_mic_48px:before {
  content: "\eba2";
}
.icon-ic_mic_none_48px:before {
  content: "\eba3";
}
.icon-ic_mic_off_48px:before {
  content: "\eba4";
}
.icon-ic_movie_48px:before {
  content: "\eba5";
}
.icon-ic_music_video_48px:before {
  content: "\eba6";
}
.icon-ic_new_releases_48px:before {
  content: "\eba7";
}
.icon-ic_not_interested_48px:before {
  content: "\eba8";
}
.icon-ic_note_48px:before {
  content: "\eba9";
}
.icon-ic_pause_48px:before {
  content: "\ebaa";
}
.icon-ic_pause_circle_filled_48px:before {
  content: "\ebab";
}
.icon-ic_pause_circle_outline_48px:before {
  content: "\ebac";
}
.icon-ic_play_arrow_48px:before {
  content: "\ebad";
}
.icon-ic_play_circle_filled_48px:before {
  content: "\ebae";
}
.icon-ic_play_circle_filled_white_48px:before {
  content: "\ebaf";
  color: #fff;
}
.icon-ic_play_circle_outline_48px:before {
  content: "\ebb0";
}
.icon-ic_playlist_add_48px:before {
  content: "\ebb1";
}
.icon-ic_playlist_add_check_48px:before {
  content: "\ebb2";
}
.icon-ic_playlist_play_48px:before {
  content: "\ebb3";
}
.icon-ic_queue_48px:before {
  content: "\ebb4";
}
.icon-ic_queue_music_48px:before {
  content: "\ebb5";
}
.icon-ic_queue_play_next_48px:before {
  content: "\ebb6";
}
.icon-ic_radio_48px:before {
  content: "\ebb7";
}
.icon-ic_recent_actors_48px:before {
  content: "\ebb8";
}
.icon-ic_remove_from_queue_48px:before {
  content: "\ebb9";
}
.icon-ic_repeat_48px:before {
  content: "\ebba";
}
.icon-ic_repeat_one_48px:before {
  content: "\ebbb";
}
.icon-ic_replay_5_48px:before {
  content: "\ebbc";
}
.icon-ic_replay_10_48px:before {
  content: "\ebbd";
}
.icon-ic_replay_30_48px:before {
  content: "\ebbe";
}
.icon-ic_replay_48px:before {
  content: "\ebbf";
}
.icon-ic_shuffle_48px:before {
  content: "\ebc0";
}
.icon-ic_skip_next_48px:before {
  content: "\ebc1";
}
.icon-ic_skip_previous_48px:before {
  content: "\ebc2";
}
.icon-ic_slow_motion_video_48px:before {
  content: "\ebc3";
}
.icon-ic_snooze_48px:before {
  content: "\ebc4";
}
.icon-ic_stop_48px:before {
  content: "\ebc5";
}
.icon-ic_subscriptions_48px:before {
  content: "\ebc6";
}
.icon-ic_subtitles_48px:before {
  content: "\ebc7";
}
.icon-ic_surround_sound_48px:before {
  content: "\ebc8";
}
.icon-ic_video_call_48px:before {
  content: "\ebc9";
}
.icon-ic_video_label_48px:before {
  content: "\ebca";
}
.icon-ic_video_library_48px:before {
  content: "\ebcb";
}
.icon-ic_videocam_48px:before {
  content: "\ebcc";
}
.icon-ic_videocam_off_48px:before {
  content: "\ebcd";
}
.icon-ic_volume_down_48px:before {
  content: "\ebce";
}
.icon-ic_volume_mute_48px:before {
  content: "\ebcf";
}
.icon-ic_volume_off_48px:before {
  content: "\ebd0";
}
.icon-ic_volume_up_48px:before {
  content: "\ebd1";
}
.icon-ic_web_48px:before {
  content: "\ebd2";
}
.icon-ic_web_asset_48px:before {
  content: "\ebd3";
}
.icon-ic_add_alert_48px:before {
  content: "\ebd4";
}
.icon-ic_error_48px:before {
  content: "\ebd5";
}
.icon-ic_error_outline_48px:before {
  content: "\ebd6";
}
.icon-ic_warning_48px:before {
  content: "\ebd7";
}
.icon-ic_3d_rotation_48px:before {
  content: "\ebd8";
}
.icon-ic_accessibility_48px:before {
  content: "\ebd9";
}
.icon-ic_accessible_48px:before {
  content: "\ebda";
}
.icon-ic_account_balance_48px:before {
  content: "\ebdb";
}
.icon-ic_account_balance_wallet_48px:before {
  content: "\ebdc";
}
.icon-ic_account_box_48px:before {
  content: "\ebdd";
}
.icon-ic_account_circle_48px:before {
  content: "\ebde";
}
.icon-ic_add_shopping_cart_48px:before {
  content: "\ebdf";
}
.icon-ic_alarm_48px:before {
  content: "\ebe0";
}
.icon-ic_alarm_add_48px:before {
  content: "\ebe1";
}
.icon-ic_alarm_off_48px:before {
  content: "\ebe2";
}
.icon-ic_alarm_on_48px:before {
  content: "\ebe3";
}
.icon-ic_all_out_48px:before {
  content: "\ebe4";
}
.icon-ic_android_48px:before {
  content: "\ebe5";
}
.icon-ic_announcement_48px:before {
  content: "\ebe6";
}
.icon-ic_aspect_ratio_48px:before {
  content: "\ebe7";
}
.icon-ic_assessment_48px:before {
  content: "\ebe8";
}
.icon-ic_assignment_48px:before {
  content: "\ebe9";
}
.icon-ic_assignment_ind_48px:before {
  content: "\ebea";
}
.icon-ic_assignment_late_48px:before {
  content: "\ebeb";
}
.icon-ic_assignment_return_48px:before {
  content: "\ebec";
}
.icon-ic_assignment_returned_48px:before {
  content: "\ebed";
}
.icon-ic_assignment_turned_in_48px:before {
  content: "\ebee";
}
.icon-ic_autorenew_48px:before {
  content: "\ebef";
}
.icon-ic_backup_48px:before {
  content: "\ebf0";
}
.icon-ic_book_48px:before {
  content: "\ebf1";
}
.icon-ic_bookmark_48px:before {
  content: "\ebf2";
}
.icon-ic_bookmark_border_48px:before {
  content: "\ebf3";
}
.icon-ic_bug_report_48px:before {
  content: "\ebf4";
}
.icon-ic_build_48px:before {
  content: "\ebf5";
}
.icon-ic_cached_48px:before {
  content: "\ebf6";
}
.icon-ic_card_giftcard_48px:before {
  content: "\ebf7";
}
.icon-ic_card_membership_48px:before {
  content: "\ebf8";
}
.icon-ic_card_travel_48px:before {
  content: "\ebf9";
}
.icon-ic_change_history_48px:before {
  content: "\ebfa";
}
.icon-ic_check_circle_48px:before {
  content: "\ebfb";
}
.icon-ic_chrome_reader_mode_48px:before {
  content: "\ebfc";
}
.icon-ic_class_48px:before {
  content: "\ebfd";
}
.icon-ic_code_48px:before {
  content: "\ebfe";
}
.icon-ic_compare_arrows_48px:before {
  content: "\ebff";
}
.icon-ic_copyright_48px:before {
  content: "\ec00";
}
.icon-ic_credit_card_48px:before {
  content: "\ec01";
}
.icon-ic_dashboard_48px:before {
  content: "\ec02";
}
.icon-ic_date_range_48px:before {
  content: "\ec03";
}
.icon-ic_delete_48px:before {
  content: "\ec04";
}
.icon-ic_delete_forever_48px:before {
  content: "\ec05";
}
.icon-ic_description_48px:before {
  content: "\ec06";
}
.icon-ic_dns_48px:before {
  content: "\ec07";
}
.icon-ic_done_48px:before {
  content: "\ec08";
}
.icon-ic_done_all_48px:before {
  content: "\ec09";
}
.icon-ic_donut_large_48px:before {
  content: "\ec0a";
}
.icon-ic_donut_small_48px:before {
  content: "\ec0b";
}
.icon-ic_euro_symbol_48px:before {
  content: "\ec0c";
}
.icon-ic_event_48px:before {
  content: "\ec0d";
}
.icon-ic_event_seat_48px:before {
  content: "\ec0e";
}
.icon-ic_exit_to_app_48px:before {
  content: "\ec0f";
}
.icon-ic_explore_48px:before {
  content: "\ec10";
}
.icon-ic_extension_48px:before {
  content: "\ec11";
}
.icon-ic_face_48px:before {
  content: "\ec12";
}
.icon-ic_favorite_48px:before {
  content: "\ec13";
}
.icon-ic_favorite_border_48px:before {
  content: "\ec14";
}
.icon-ic_feedback_48px:before {
  content: "\ec15";
}
.icon-ic_find_in_page_48px:before {
  content: "\ec16";
}
.icon-ic_find_replace_48px:before {
  content: "\ec17";
}
.icon-ic_fingerprint_48px:before {
  content: "\ec18";
}
.icon-ic_flight_land_48px:before {
  content: "\ec19";
}
.icon-ic_flight_takeoff_48px:before {
  content: "\ec1a";
}
.icon-ic_flip_to_back_48px:before {
  content: "\ec1b";
}
.icon-ic_flip_to_front_48px:before {
  content: "\ec1c";
}
.icon-ic_g_translate_48px:before {
  content: "\ec1d";
}
.icon-ic_gavel_48px:before {
  content: "\ec1e";
}
.icon-ic_get_app_48px:before {
  content: "\ec1f";
}
.icon-ic_grade_48px:before {
  content: "\ec20";
}
.icon-ic_group_work_48px:before {
  content: "\ec21";
}
.icon-ic_help_48px:before {
  content: "\ec22";
}
.icon-ic_highlight_off_48px:before {
  content: "\ec23";
}
.icon-ic_history_48px:before {
  content: "\ec24";
}
.icon-ic_home_48px:before {
  content: "\ec25";
}
.icon-ic_hourglass_empty_48px:before {
  content: "\ec26";
}
.icon-ic_hourglass_full_48px:before {
  content: "\ec27";
}
.icon-ic_http_48px:before {
  content: "\ec28";
}
.icon-ic_https_48px:before {
  content: "\ec29";
}
.icon-ic_important_devices_48px:before {
  content: "\ec2a";
}
.icon-ic_info_48px:before {
  content: "\ec2b";
}
.icon-ic_info_outline_48px:before {
  content: "\ec2c";
}
.icon-ic_input_48px:before {
  content: "\ec2d";
}
.icon-ic_invert_colors_48px:before {
  content: "\ec2e";
}
.icon-ic_label_48px:before {
  content: "\ec2f";
}
.icon-ic_label_outline_48px:before {
  content: "\ec30";
}
.icon-ic_language_48px:before {
  content: "\ec31";
}
.icon-ic_launch_48px:before {
  content: "\ec32";
}
.icon-ic_lightbulb_outline_48px:before {
  content: "\ec33";
}
.icon-ic_line_style_48px:before {
  content: "\ec34";
}
.icon-ic_line_weight_48px:before {
  content: "\ec35";
}
.icon-ic_list_48px:before {
  content: "\ec36";
}
.icon-ic_lock_48px:before {
  content: "\ec37";
}
.icon-ic_lock_open_48px:before {
  content: "\ec38";
}
.icon-ic_lock_outline_48px:before {
  content: "\ec39";
}
.icon-ic_loyalty_48px:before {
  content: "\ec3a";
}
.icon-ic_markunread_mailbox_48px:before {
  content: "\ec3b";
}
.icon-ic_motorcycle_48px:before {
  content: "\ec3c";
}
.icon-ic_note_add_48px:before {
  content: "\ec3d";
}
.icon-ic_opacity_48px:before {
  content: "\ec3e";
}
.icon-ic_open_in_browser_48px:before {
  content: "\ec3f";
}
.icon-ic_open_in_new_48px:before {
  content: "\ec40";
}
.icon-ic_open_with_48px:before {
  content: "\ec41";
}
.icon-ic_pageview_48px:before {
  content: "\ec42";
}
.icon-ic_pan_tool_48px:before {
  content: "\ec43";
}
.icon-ic_payment_48px:before {
  content: "\ec44";
}
.icon-ic_perm_camera_mic_48px:before {
  content: "\ec45";
}
.icon-ic_perm_contact_calendar_48px:before {
  content: "\ec46";
}
.icon-ic_perm_data_setting_48px:before {
  content: "\ec47";
}
.icon-ic_perm_device_information_48px:before {
  content: "\ec48";
}
.icon-ic_perm_identity_48px:before {
  content: "\ec49";
}
.icon-ic_perm_media_48px:before {
  content: "\ec4a";
}
.icon-ic_perm_phone_msg_48px:before {
  content: "\ec4b";
}
.icon-ic_perm_scan_wifi_48px:before {
  content: "\ec4c";
}
.icon-ic_pets_48px:before {
  content: "\ec4d";
}
.icon-ic_picture_in_picture_48px:before {
  content: "\ec4e";
}
.icon-ic_picture_in_picture_alt_48px:before {
  content: "\ec4f";
}
.icon-ic_play_for_work_48px:before {
  content: "\ec50";
}
.icon-ic_polymer_48px:before {
  content: "\ec51";
}
.icon-ic_power_settings_new_48px:before {
  content: "\ec52";
}
.icon-ic_pregnant_woman_48px:before {
  content: "\ec53";
}
.icon-ic_print_48px:before {
  content: "\ec54";
}
.icon-ic_query_builder_48px:before {
  content: "\ec55";
}
.icon-ic_question_answer_48px:before {
  content: "\ec56";
}
.icon-ic_receipt_48px:before {
  content: "\ec57";
}
.icon-ic_record_voice_over_48px:before {
  content: "\ec58";
}
.icon-ic_redeem_48px:before {
  content: "\ec59";
}
.icon-ic_remove_shopping_cart_48px:before {
  content: "\ec5a";
}
.icon-ic_report_problem_48px:before {
  content: "\ec5b";
}
.icon-ic_restore_48px:before {
  content: "\ec5c";
}
.icon-ic_restore_page_48px:before {
  content: "\ec5d";
}
.icon-ic_room_48px:before {
  content: "\ec5e";
}
.icon-ic_rounded_corner_48px:before {
  content: "\ec5f";
}
.icon-ic_rowing_48px:before {
  content: "\ec60";
}
.icon-ic_schedule_48px:before {
  content: "\ec61";
}
.icon-ic_search_48px:before {
  content: "\ec62";
}
.icon-ic_settings_48px:before {
  content: "\ec63";
}
.icon-ic_settings_applications_48px:before {
  content: "\ec64";
}
.icon-ic_settings_backup_restore_48px:before {
  content: "\ec65";
}
.icon-ic_settings_bluetooth_48px:before {
  content: "\ec66";
}
.icon-ic_settings_brightness_48px:before {
  content: "\ec67";
}
.icon-ic_settings_cell_48px:before {
  content: "\ec68";
}
.icon-ic_settings_ethernet_48px:before {
  content: "\ec69";
}
.icon-ic_settings_input_antenna_48px:before {
  content: "\ec6a";
}
.icon-ic_settings_input_component_48px:before {
  content: "\ec6b";
}
.icon-ic_settings_input_composite_48px:before {
  content: "\ec6c";
}
.icon-ic_settings_input_hdmi_48px:before {
  content: "\ec6d";
}
.icon-ic_settings_input_svideo_48px:before {
  content: "\ec6e";
}
.icon-ic_settings_overscan_48px:before {
  content: "\ec6f";
}
.icon-ic_settings_phone_48px:before {
  content: "\ec70";
}
.icon-ic_settings_power_48px:before {
  content: "\ec71";
}
.icon-ic_settings_remote_48px:before {
  content: "\ec72";
}
.icon-ic_settings_voice_48px:before {
  content: "\ec73";
}
.icon-ic_shop_48px:before {
  content: "\ec74";
}
.icon-ic_shop_two_48px:before {
  content: "\ec75";
}
.icon-ic_shopping_basket_48px:before {
  content: "\ec76";
}
.icon-ic_shopping_cart_48px:before {
  content: "\ec77";
}
.icon-ic_speaker_notes_48px:before {
  content: "\ec78";
}
.icon-ic_speaker_notes_off_48px:before {
  content: "\ec79";
}
.icon-ic_spellcheck_48px:before {
  content: "\ec7a";
}
.icon-ic_stars_48px:before {
  content: "\ec7b";
}
.icon-ic_store_48px:before {
  content: "\ec7c";
}
.icon-ic_subject_48px:before {
  content: "\ec7d";
}
.icon-ic_supervisor_account_48px:before {
  content: "\ec7e";
}
.icon-ic_swap_horiz_48px:before {
  content: "\ec7f";
}
.icon-ic_swap_vert_48px:before {
  content: "\ec80";
}
.icon-ic_swap_vertical_circle_48px:before {
  content: "\ec81";
}
.icon-ic_system_update_alt_48px:before {
  content: "\ec82";
}
.icon-ic_tab_48px:before {
  content: "\ec83";
}
.icon-ic_tab_unselected_48px:before {
  content: "\ec84";
}
.icon-ic_theaters_48px:before {
  content: "\ec85";
}
.icon-ic_thumb_down_48px:before {
  content: "\ec86";
}
.icon-ic_thumb_up_48px:before {
  content: "\ec87";
}
.icon-ic_thumbs_up_down_48px:before {
  content: "\ec88";
}
.icon-ic_timeline_48px:before {
  content: "\ec89";
}
.icon-ic_toc_48px:before {
  content: "\ec8a";
}
.icon-ic_today_48px:before {
  content: "\ec8b";
}
.icon-ic_toll_48px:before {
  content: "\ec8c";
}
.icon-ic_touch_app_48px:before {
  content: "\ec8d";
}
.icon-ic_track_changes_48px:before {
  content: "\ec8e";
}
.icon-ic_translate_48px:before {
  content: "\ec8f";
}
.icon-ic_trending_down_48px:before {
  content: "\ec90";
}
.icon-ic_trending_flat_48px:before {
  content: "\ec91";
}
.icon-ic_trending_up_48px:before {
  content: "\ec92";
}
.icon-ic_turned_in_48px:before {
  content: "\ec93";
}
.icon-ic_turned_in_not_48px:before {
  content: "\ec94";
}
.icon-ic_update_48px:before {
  content: "\ec95";
}
.icon-ic_verified_user_48px:before {
  content: "\ec96";
}
.icon-ic_view_agenda_48px:before {
  content: "\ec97";
}
.icon-ic_view_array_48px:before {
  content: "\ec98";
}
.icon-ic_view_carousel_48px:before {
  content: "\ec99";
}
.icon-ic_view_column_48px:before {
  content: "\ec9a";
}
.icon-ic_view_day_48px:before {
  content: "\ec9b";
}
.icon-ic_view_headline_48px:before {
  content: "\ec9c";
}
.icon-ic_view_list_48px:before {
  content: "\ec9d";
}
.icon-ic_view_module_48px:before {
  content: "\ec9e";
}
.icon-ic_view_quilt_48px:before {
  content: "\ec9f";
}
.icon-ic_view_stream_48px:before {
  content: "\eca0";
}
.icon-ic_view_week_48px:before {
  content: "\eca1";
}
.icon-ic_visibility_48px:before {
  content: "\eca2";
}
.icon-ic_visibility_off_48px:before {
  content: "\eca3";
}
.icon-ic_watch_later_48px:before {
  content: "\eca4";
}
.icon-ic_work_48px:before {
  content: "\eca5";
}
.icon-ic_youtube_searched_for_48px:before {
  content: "\eca6";
}
