/* CSS Document */
/*

#desc {
    background-color: rgba(223,223,223,1.00);
}
*/
textarea {
    -webkit-appearance: textarea;
    background-color: white;
    -webkit-rtl-ordering: logical;
    padding: 2px;
    resize: none;
    height: 100px;
    border-radius: 10px;
    
}
textarea:focus {
    border: rgba(123,191,255,1.00) solid 1px;
    
}
.label {
/*    color: */
}
#ts {
    background-color: rgba(255,255,255,1.00);
    border: rgba(184,184,184,1.00) solid 1px;
    padding: 10px;
}
#fullName {
    height: 300px;
}
.del {
    color: rgba(255,0,4,1.00);
    cursor: pointer;
}
.del:hover{
    color: rgba(75,124,255,1.00);
    transition: .5s;
}
.del:not(:hover){
    color: rgba(255,0,4,1.00);
    transition: .5s;
}
.del:active{
    color: rgba(0,5,255,1.00);
}
.date{
    color: rgba(123,122,255,1.00);
}